#characters {
  padding: 60px 0;
}

.characterCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
}

@media screen and (max-width: 1200px) {
  .characterCardsWrapper {
    grid-template-columns: repeat(2, 1fr)
  }
}


@media screen and (max-width: 767px) {
  .characterCardsWrapper {
    grid-template-columns: repeat(1, 1fr)
  }
}
