.header {
  background-color: #ffffff;
  height: 76px;
  display: flex;
  align-items: center;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #222222;
    font-weight: 500;
  }
}

