.title-1 {
  font-size: 5.6rem;
  color: #222;
  font-weight: 900;
}

.body-1 {
  font-size: 16px;
  color: #222;
}

.body-2 {
  font-size: 14px;
  color: #222;
}

.label-1 {
  font-size: 12px;
  color: #222;
}