.btn {
  border: none;
  outline: none;
  height: 46px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0 16px;
  background-color: rgb(60, 62, 68);
  color: #ffffff;
  transition: background-color .3s;

  &:hover {
    background-color: #333437;
  }
}